#partitioned {
    padding-left: 10px;
    letter-spacing: 33px;
    border: 0;
    background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 50px 1.5px;
    background-repeat: repeat-x;
    background-position-x: 37px;
  }
  input#partitioned {
    width: 300px; 
    height: 50px; 
    font-size: 28px;
  }  
  
  #divInner{
    left: 0;
    position: sticky;
  }
  
  #divOuter{
    width: 190px; 
    overflow: hidden;
  }