.btnActive:active{
    transform: translateY(2px);
    outline: none;
    border: 0;
    outline-width: 0;
}
.btnActive{
    outline-width: 0;
    border: 0;
}
.btnActive:focus{
    border: 0;
    outline: none;
    outline-width: 0;
}
input:focus{
    outline: none ;
    outline-width: 0 !important;
    box-shadow: none !important;
    border-color: #d9d9d9 !important;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
input:hover{
    border-color: #d9d9d9 !important;
}

.ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before, .ant-tabs-bottom > div > .ant-tabs-nav::before{
    border-bottom: none !important;
}